h3 {
  text-align: center;
  margin-bottom: 0;
}
.pointer {
  cursor: pointer;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes li {
  cursor: pointer;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
}
.heroes .text {
  position: relative;
  top: -2px;
  margin-left: 10px;
}
